# Python (from local)
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
venv.bak/
env/
env.bak/
ENV/

# API keys and secrets
.env
.env~

# gemini-cli settings
**/.gemini/
!/.gemini/
.gemini/*
!.gemini/config.yaml
!.gemini/commands/
!.gemini/skills/
!.gemini/settings.json

# Dependencies
node_modules/
bower_components

# IDEs and editors
.vscode/
.idea/
*.iml
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build and dist
dist/
*.tsbuildinfo
bundle

# Project specific ignores (local)
experimental/
DESIGN.md
iam_policy.yaml

# Project specific ignores (remote)
.docker
junit.xml
packages/*/coverage/
packages/cli/src/generated/
packages/core/src/generated/
packages/devtools/src/_client-assets.ts
.integration-tests/
.perf-tests/
packages/vscode-ide-companion/*.vsix
packages/cli/download-ripgrep*/
gha-creds-*.json
patch_output.log
gemini-debug.log
.genkit
.gemini-clipboard/
.eslintcache
evals/logs/
temp_agents/
conductor/
pr_gen_evals/
